# Configuración de Base de Datos PostgreSQL
DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/rentos"

# Rutas de utilidades de PostgreSQL para Backups (Ajustar según versión)
PG_DUMP_PATH="C:\\Program Files\\PostgreSQL\\18\\bin\\pg_dump.exe"
PSQL_PATH="C:\\Program Files\\PostgreSQL\\18\\bin\\psql.exe"

# Notificaciones y Alertas de Telegram (Opcional)
TELEGRAM_BOT_TOKEN="TU_BOT_TOKEN"
TELEGRAM_CHAT_ID="TU_CHAT_ID"

# Puerto del servidor Backend
PORT=3000
